@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@700&family=Roboto+Slab:wght@700&family=Space+Mono:wght@400;700&display=swap");

:root {
  --primary-color: #f87070;
  --secondary-color: #70f3f8;
  --third-color: #d881f8;
  --fourth-color: #d7e0ff;
  --fifth-color: #1e213f;
  --sixth-color: #eff1fa;
  --seventh-color: #161932;
  --white-color: #ffffff;
  --font-family: "Kumbh Sans", sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1REM = 10px */
}
*,
*:before,
s *:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-family: var(--font-family);
  /* font-family: "Roboto Slab", serif; */
  /* font-family: "Space Mono", monospace; */
  font-size: 1.6rem;
  background-color: var(--fifth-color);
}
/* Globals */
h1,
h2,
h3,
h4 {
  margin: 0;
}
p {
  margin: 0;
}
